<% users.map((item, index) =>{%>
<tr class="text-center">

  <td><%= index+1 %></td>
  <td><%= item.name %></td>
  <td><%= item.email %></td>
  <td><%= item.gender %></td>
  <td><%= item.status %></td>

  <td>
    <a href="/update-user?id=<%=users[index]._id%>" class="btn border-shadow update"><span class="text-gradient"><i
          class="fas fa-pencil-alt"></i></span></a>
    <a href="#" class="btn border-shadow delete"><span class="text-gradient"><i class="fas fa-times"></i></span></a>
  </td>


</tr>

<%})%>